.container {
  margin-top: 20px;
  position: static;
}
.wrapper {
  position: relative;
}
.card_1 {
  margin-bottom: 20px;
}
.card_2 {
  margin-bottom: 20px;
}
.accordion_container {
  margin-right: 32px;
}
.submit-btn {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

@media (min-width: 800px) {
  .submit-btn {
    position: relative;
    left: 100px;
    top: 80px;
  }
  .footer {
    position: relative;
    padding-top: 80px;
  }
  .submit-btn {
    margin-left: 40px;
  }
}
